
<header class="masthead text-center text-white d-flex">
  <div class="container my-auto">
    <div class="row">
      <div class="col-lg-10 mx-auto">

        <h1 class="text-uppercase">
          <strong>Your Favorite Place for Searching New Jobs</strong>
        </h1>
        <hr>
      </div>
      <div class="col-lg-8 mx-auto">
        <p class="text-faded mb-5">Mind unemployed is mind un-enjoyed</p>

        <div class="col-md-12 col-12">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-12 pt-3">
              <div class="form-group ">
                <input class="form-control" placeholder="Search your Jobs" id="name" name="name" style="color: white">
              </div>
            </div>
            <a class="btn btn-primary btn-xl js-scroll-trigger"  (click)="getSearchList()"><h6 style="color: white">Find Out More</h6></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading text-white">Find New Job What You Need</h2>
        <hr class="light my-4">
        <p class="text-faded mb-4">Never put off till tomorrow what you can do today</p>
        <a class="btn btn-light btn-xl js-scroll-trigger" routerLink="ViewAllJobs" style="background-color: red">Get Started!</a>
      </div>
    </div>
  </div>
</section>

<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">At Your Service</h2>
        <hr class="my-4">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fa fa-4x fa-search" aria-hidden="true" style="color: orangered"></i>
          <h3 class="mb-3">Find Latest Jobs</h3>
          <p class="text-muted mb-0">Tou can find latest job vacancies in single click</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fa fa-4x fa-address-book" aria-hidden="true" style="color: orangered"></i>
          <h3 class="mb-3">Upload Resume</h3>
          <p class="text-muted mb-0">You can use manage your profile and upload your resume</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fa fa-4x fa-clipboard" aria-hidden="true" style="color: orangered"></i>
          <h3 class="mb-3">Post Unlimited Jobs</h3>
          <p class="text-muted mb-0">Job poster can post unlimited job for own industry</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fa fa-4x fa-envelope" aria-hidden="true" style="color: orangered"></i>
          <h3 class="mb-3">Download Resume</h3>
          <p class="text-muted mb-0">You can download cvs og applied own vacancies</p>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="bg-dark text-white">
  <div class="container text-center">
    <h2 class="mb-4"> Find More Category</h2>
    <a class="btn btn-light btn-xl sr-button" >Start Now!</a>
  </div>
</section>

