<!--<form (ngSubmit)="addJOb()">-->
<!--  <div class="container">-->
<!--    <div class="row">-->
<!--      <div class="col">-->

<!--        <input [(ngModel)]="jobs.jobtitle" name="jobtitle" class="set" placeholder="Job Title" type="text" required>-->
<!--        <select #industry name="industry" id="industry" class="outer" required>-->
<!--          <option>&#45;&#45;Select a Industry*&#45;&#45;</option>-->
<!--          <option></option>-->
<!--        </select>-->
<!--        <input [(ngModel)]="jobs.role"  name="role" placeholder="Role" type="text" required>-->
<!--        <input [(ngModel)]="jobs.minsalary" name="minsalary" placeholder="Salary min" type="text" required>-->
<!--        <input [(ngModel)]="jobs.totalvacncis" name="totalvacncis" value="" placeholder="Total Vacanices" type="text" required>-->


<!--      </div>-->
<!--      <div class="col">-->
<!--          <select  #category name="category" id="category" class="outer" data-cke-caption-placeholder="&#45;&#45;Select Category*&#45;&#45;" >-->
<!--        <option value="&#45;&#45;Select Category*&#45;&#45;">&#45;&#45;Select Category*&#45;&#45;</option>-->
<!--            <option></option>-->
<!--      </select>-->
<!--        <select #bussinessfuntion name="bussinessfuntion" id="bussinessfuntion"  class="set">-->
<!--          <option>&#45;&#45;Select a Bussiness Funtion *&#45;&#45;</option>-->
<!--          <option></option>-->
<!--        </select>-->
<!--        <br>-->
<!--        <br>-->
<!--        <input [(ngModel)]="jobs.maxsalary" name="maxsalary"  placeholder="Salary Max" type="text" required>-->
<!--        <input [(ngModel)]="jobs.dedlinedate" name="Role" placeholder="Dedline Date" type="text"  required>-->
<!--      </div>-->
<!--      <textarea rows="4" cols="50" [(ngModel)]="jobs.discription" class="background" name="discription" placeholder=" Jobs Discription"  type="text" required>-->
<!--      </textarea>-->
<!--    </div>-->



<!--      <h5>Candidate Referances</h5>-->
<!--      <hr>-->

<!--    <div class="container">-->
<!--      <div class="row">-->
<!--        <div class="col">-->
<!--          <select #minimumqulification name="minimumqulification" id="minimumqulification" class="outer" >-->
<!--            <option>&#45;&#45;Select a Minimum Qulification*&#45;&#45;</option>-->

<!--          </select>-->
<!--          <select #educationalspecialization name="educationalspecialization" id="educationalspecialization" class="outer">-->
<!--            <option>&#45;&#45;Select a Educational Specialization*&#45;&#45;</option>-->

<!--          </select>-->
<!--          <input #maimumage name="maimumage" id="maimumage" placeholder="Maximum Age"  type="text" required>-->



<!--        </div>-->
<!--        <div class="col">-->
<!--          <input #requiredexperience name="requiredexperience" id="requiredexperience" placeholder="Required experience (years)" type="text" required>-->
<!--          <input #skill name="skill" id="skill" placeholder="Skil" type="text"  required>-->

<!--          <select #genderpreference name="genderpreference" id="genderpreference" class="outer"  placeholder="Gender Preferances">-->
<!--            <option>Select a Gender Preferances</option>-->
<!--            <option>Male</option>-->
<!--            <option>Female</option>-->
<!--            <option>Any</option>-->
<!--          </select>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->




<!--    <div class="col-md-6">-->
<!--      <form method="post" action="#" id="#">-->
<!--        <div class="form-group files color">-->
<!--          <label>Upload Your File </label>-->
<!--          <input type="file" class="form-control" multiple="" (change)="setIma($event)">-->
<!--        </div>-->


<!--      </form>-->



<!--    </div>-->


<!--  </div>-->
<!--  <div class="row">-->
<!--    <div class="col">-->
<!--  <button type="submit" class="button"><span>Save Details</span></button>-->
<!--  </div>-->
<!--    <div class="col">-->
<!--      <button type="button" class="button" (click)="addJOb()"><span>Update Details</span></button>-->
<!--    </div>-->
<!--  </div>-->
<!--</form>-->



<form >

  <div id="loading" *ngIf="loading"></div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label  style="color: black;">Name</label>
      <input type="text"  [(ngModel)]="course.name" name="name" class="form-control" id="name" >
    </div>
    <div class="form-group col-md-6">
      <label style="color: black;">Type</label>
      <input type="text" class="form-control" [(ngModel)]="course.type" name="type" id="type" >
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12">
      <label style="color: black;">Description</label>
      <textarea type="text" class="form-control"  [(ngModel)]="course.description" name="description" id="description" ></textarea>
    </div>

  </div>

  <div class="form-row">

    <div style="margin-top: -5px;padding-top: -2px" class="form-group col-md-4">
      <label style="color: black;">Start Date</label>
      <input type="date" class="form-control" [(ngModel)]="course.startDate" name="startDate" id="startDate">
    </div>

    <div class="form-group col-md-4">
      <label style="color: black;">Min Age</label>
      <input type="number" class="form-control" [(ngModel)]="course.minAge" name="minAge" id="minAge">
    </div>

    <div class="form-group col-md-4">
      <label style="color: black;">Max Age</label>
      <input type="number" class="form-control" [(ngModel)]="course.maxAge" name="maxAge" id="maxAge">
    </div>
  </div>


  <div class="form-row">
    <div class="form-group col-md-12">
      <label style="color: black;">Educational Quolifications</label>
      <input type="text" class="form-control" [(ngModel)]="course.educationalQualifications"  name="educationalQualifications"  id="educationalQualifications">
    </div>
  </div>

  <h5>Education Center</h5>
  <hr>
  <div class="form-row">

    <div style="margin-top: -5px;padding-top: -3px" class="form-group col-md-4">
      <label style="color: black;">Select Education Center</label>
      <select style="margin-top: -5px;padding-top: -2px" class="form-control" (change)="setEducationCenter($event.target)" id="exampleFormControlSelect1">
        <option *ngFor="let data of educationalCenterArray" [value]="data.id">{{data.educationalCenterName}}</option>

      </select>    </div>

    <div class="form-group col-md-4">
      <label style="color: black;">Branch</label>
      <input type="text" class="form-control" [(ngModel)]="tempEducationCenter.branch"  name="branch" id="branch" disabled>
    </div>

    <div class="form-group col-md-4">
      <button type="button" style="margin-top:18px;background-color:#0c5460;color: white" class="btn btn-primary" (click)="add()">Add</button>
    </div>
  </div>

  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Type</th>
      <th scope="col">Branch</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of tempEducationalCenterArray">
      <td>{{data.educationalCenterName}}</td>
      <td>{{data.educationalCenterType}}</td>
      <td>{{data.branch}}</td>
      <td><i style="color: red;" class="fas fa-trash-alt" (click)="delete(data)"></i></td>
    </tr>
    </tbody>
  </table>


<br>
  <br>
  <hr>


  <button type="button" style="float: right;background-color:#0c5460;color: white" class="btn btn-primary" (click)="save()">SAVE</button>
  <br>
  <br>
</form>

