<form (ngSubmit)="saveProfile()">
  <div class="container">
    <div class="form-group files color">
      <label>Upload Your Image</label>
      <input type="file" class="form-control" multiple="" (change)="setImages($event)">
    </div>

    <div class="row">
      <div class="col">
        <input [(ngModel)]="jobSeekerProfile.firstName" name="firstName" placeholder="First Name" type="text" required>
        <select [(ngModel)]="jobSeekerProfile.interstIn" name="interstIn"  id="interstIn" class="set" >
          <option>I am Interst In</option>
        </select>
        <input [(ngModel)]="jobSeekerProfile.address" name="address" placeholder="Address" type="text" required>
        <input [(ngModel)]="jobSeekerProfile.city" name="city" placeholder="City" type="text" required>
        Birthday (month and year): <input [(ngModel)]="jobSeekerProfile.birthDay" name="birthDay" placeholder="Birth Day" type="month" class="calenderSet" required>

        <select [(ngModel)]="jobSeekerProfile.highestEducation" name="highestEducation" id="highestEducation" class="outer" >
          <option>Highest Education</option>
        </select>


      </div>
      <div class="col">
        <input [(ngModel)]="jobSeekerProfile.lastName" name="lastName" placeholder="Last Name" type="text" required>
        <input [(ngModel)]="jobSeekerProfile.emailAddress" name="emailAddress" placeholder="Email Address" type="text" required>
        <br>
        <br>
        <input [(ngModel)]="jobSeekerProfile.province" name="province" placeholder="Province" type="text" required>
        <br>
        <br>
        <br>
        <br>
        <input [(ngModel)]="jobSeekerProfile.phoneNumber" name="phoneNumber" placeholder="Phone Number" type="text" required>
        <input [(ngModel)]="jobSeekerProfile.stream" name="stream" placeholder="Stream" type="text" required>
      </div>

    </div>

    <div class="col-md-6">
      <form method="post" action="#" id="#">
        <div class="form-group files color">
          <label>Upload Your Own CV </label>
          <input type="file" class="form-control" multiple="" (change)="setCV($event)">
        </div>
      </form>
    </div>
  </div>
  <button type="submit" class="button"><span>Save Details</span></button>
</form>
