<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Modernize an Admin Panel Category Bootstrap Responsive Web Template | Home :: w3layouts</title>
  <!-- Meta Tags -->

</head>

<body>

<div class="wrapper">
  <!-- Sidebar Holder -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <h1>
        <a href="index.html">Modernize</a>
      </h1>
      <span>M</span>
    </div>
    <div class="profile-bg">
      <img [src]="jobPosterFrofile.imagePath" height="100" width="250">
    </div>
    <ul class="list-unstyled components">
      <li class="active">
        <a routerLink="dashboard">
          <i class="fas fa-th-large"></i>
          Dashboard
        </a>
      </li>
      <li>
      </li>
      <li>
        <a routerLink="ManagePosterProfile">
          <i class="fas fa-users"></i>
          Profile
        </a>
      </li>
      <li>
        <a routerLink="PostJob">
          <i class="fas fa-th"></i>
          Jobs
        </a>
      </li>
      <li>
      </li>
      <li>
        <a routerLink="ViewApplyJob">
          <i class="far fa-envelope"></i>
          Employes
          <span class="badge badge-secondary float-md-right bg-danger">5 New</span>
        </a>
      </li>
      <li>
        <a routerLink="ViewPostJobs">
          <i class="far fa-window-restore"></i>
          Posted Jobs
        </a>
      </li>
      <li>
        <a href="pricing.html">
          <i class="fas fa-table"></i>
          Settings
        </a>
      </li>
      <li>

      </li>

    </ul>
  </nav>

  <!-- Page Content Holder -->
  <div id="content">
    <!-- top-bar -->
    <nav class="navbar navbar-default mb-xl-5 mb-4">
      <div class="container-fluid">

        <div class="navbar-header">
          <button type="button"  class="btn btn-info navbar-btn">
            <i class="fas fa-bars"></i>
          </button>
        </div>
        <!-- Search-from -->
        <form action="#" method="post" class="form-inline mx-auto search-form">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" required="">
          <button class="btn btn-style my-2 my-sm-0" type="submit">Search</button>
        </form>
        <!--// Search-from -->
        <ul class="top-icons-agileits-w3layouts float-right">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
               aria-expanded="false">
              <i class="far fa-bell"></i>
              <span class="badge">4</span>
            </a>
            <div class="dropdown-menu top-grid-scroll drop-1">
              <h3 class="sub-title-w3-agileits">User notifications</h3>
              <a href="#" class="dropdown-item mt-3">
                <div class="notif-img-agileinfo">
                  <img src="/src/assets/images/clone.jpg" class="img-fluid" alt="Responsive image">
                </div>
                <div class="notif-content-wthree">
                  <p class="paragraph-agileits-w3layouts py-2">
                    <span class="text-diff">John Doe</span> Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.</p>
                  <h6>4 mins ago</h6>
                </div>
              </a>
              <a href="#" class="dropdown-item mt-3">
                <div class="notif-img-agileinfo">
                  <img src="/src/assets/images/clone.jpg" class="img-fluid" alt="Responsive image">
                </div>
                <div class="notif-content-wthree">
                  <p class="paragraph-agileits-w3layouts py-2">
                    <span class="text-diff">Diana</span> Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.</p>
                  <h6>6 mins ago</h6>
                </div>
              </a>
              <a href="#" class="dropdown-item mt-3">
                <div class="notif-img-agileinfo">
                  <img src="/src/assets/images/clone.jpg" class="img-fluid" alt="Responsive image">
                </div>
                <div class="notif-content-wthree">
                  <p class="paragraph-agileits-w3layouts py-2">
                    <span class="text-diff">Steffie</span> Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.</p>
                  <h6>12 mins ago</h6>
                </div>
              </a>
              <a href="#" class="dropdown-item mt-3">
                <div class="notif-img-agileinfo">
                  <img src="/src/assets/images/clone.jpg" class="img-fluid" alt="Responsive image">
                </div>
                <div class="notif-content-wthree">
                  <p class="paragraph-agileits-w3layouts py-2">
                    <span class="text-diff">Jack</span> Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.</p>
                  <h6>1 days ago</h6>
                </div>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">view all notifications</a>
            </div>
          </li>
          <li class="nav-item dropdown mx-3">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true"
               aria-expanded="false">
              <i class="fas fa-spinner"></i>
            </a>
            <div class="dropdown-menu top-grid-scroll drop-2">
              <h3 class="sub-title-w3-agileits">Shortcuts</h3>
              <a href="#" class="dropdown-item mt-3">
                <h4>
                  <i class="fas fa-chart-pie mr-3"></i>Sed feugiat</h4>
              </a>
              <a href="#" class="dropdown-item mt-3">
                <h4>
                  <i class="fab fa-connectdevelop mr-3"></i>Aliquam sed</h4>
              </a>
              <a href="#" class="dropdown-item mt-3">
                <h4>
                  <i class="fas fa-tasks mr-3"></i>Lorem ipsum</h4>
              </a>
              <a href="#" class="dropdown-item mt-3">
                <h4>
                  <i class="fab fa-superpowers mr-3"></i>Cras rutrum</h4>
              </a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2"  role="button" data-toggle="dropdown" >
              <i class="far fa-user"></i>
            </a>
            <div class="dropdown-menu drop-3">
              <div class="profile d-flex mr-o" id="hh">
                <div class="profile-l align-self-center">
                  <img [src]="jobPosterFrofile.imagePath" class="img-fluid mb-3" alt="Responsive image">
                </div>
                <div class="profile-r align-self-center" >
                  <h3 class="sub-title-w3-agileits">{{jobPosterFrofile.comapanyname}}</h3>
                  <a >{{jobPosterFrofile.email}}</a>
                </div>
              </div>
              <a  class="dropdown-item mt-3">
                <h4>
                  <i class="far fa-user mr-3"></i>My Profile</h4>
              </a>
              <a href="#" class="dropdown-item mt-3">
                <h4>
                  <i class="fas fa-link mr-3"></i>Activity</h4>
              </a>
              <a href="#" class="dropdown-item mt-3">
                <h4>
                  <i class="far fa-envelope mr-3"></i>Messages</h4>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" (click)="logout()">Logout</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <!--// top-bar -->
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
    <!--// Countdown -->
    <!-- Copyright -->
    <div class="copyright-w3layouts py-xl-3 py-2 mt-xl-5 mt-4 text-center">
      <p>© 2018 JobCart . All Rights Reserved | Design by
        <a href="http://w3layouts.com/"> JobCart </a>
      </p>
    </div>
  </div>
</div>

</body>

</html>
