


<div class="container">
  <div class="card">
    <div class="container-fliud">
      <div class="wrapper row">
        <div class="preview col-md-6">

          <div class="preview-pic tab-content">
            <div class="tab-pane active" id="pic-1"><img src="https://www.kaft.com/static/images/cache/313/tisort_ozgurruh_1990_313_313.jpg?cacheID=1429301256000"/></div>
          </div>

        </div>
        <div class="details col-md-6">
          <div class="panel panel-default text-center">
            <h3><div class="panel-title"><span class="glyphicon glyphicon-list-alt"></span>   Name</div></h3>
            <hr>
            <h4>KAFT T-SHİRT</h4>
          </div>
          <div class="panel panel-default text-center">
            <div class="rating">
              <h3><div class="panel-title"><span class="glyphicon glyphicon-info-sign"></span>  Category</div></h3>
              <hr>
              <h4>Basic</h4>
            </div>
          </div>
          <div class="panel panel-default text-center">
            <h3><div class="panel-title"><span class="glyphicon glyphicon-comment"></span>   Description</div></h3>
            <hr>
            <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eget nibh at dui tincidunt lacinia imperdiet vel turpis. Donec nec felis ornare, porta diam quis, convallis odio. In tincidunt, dui euismod pharetra ultricies, purus purus cursus felis, vitae lacinia elit libero sed </h4>
          </div>
          <div class="panel panel-default text-center">
            <h3><div class="panel-title"><span class="glyphicon glyphicon-credit-card"></span>  Money</div></h3>
            <hr>
            <h2></h2>            </div>

          <div class="text-center">
            <button class="add-to-cart btn btn-default" type="button"><span class="glyphicon glyphicon-gift"></span> Sepete Ekle</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
