<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Type</th>
    <th scope="col"></th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of allCourseArray">
    <td>{{data.name}}</td>
    <td>{{data.type}}</td>
    <td><i style="color:green" class="fas fa-edit" (click)="edit(data.id)"></i></td>
    <td><i style="color: red;" class="fas fa-trash-alt" (click)="delete(data.id)"></i></td>
  </tr>
  </tbody>
</table>
